body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  margin: 0;
}

.wrapper-1 {
  position: relative;
  background-image: url(JM-Images/JM-Background-Cover.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100vw;
}

.wrapper-overlay {
  background-color: #f3f1f1d2;
  padding: 1.2rem;
  background-image: url(JM-Images/JunglemanicLogo.png);
  background-repeat: repeat;
  background-blend-mode: lighten;
}

.fa-bars {
  color: #272a31;
  font-size: 2rem;
  height: 3.5rem;
}

.mobile-burger {
  align-self: flex-start;
}

.mobile-burger-menu-page {
  padding-top: 30%;
  text-align: left;
  margin-left: -1.2rem;
  margin-top: -4.5rem;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: #272a31d0;
  mix-blend-mode: luminosity;
  z-index: 2;
}

.mobile-burger-menu-page > ul > li > a,
.fa-close {
  color: #fff;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 900;
  text-shadow: 2px 2px #e92e19;
  padding: 1%;
  line-height: 140%;
}

#burger-menu-page {
  display: none;
}

.menu-content {
  padding-top: 10%;
}

#fa-close {
  margin-left: 80%;
}

.section-one-content {
  color: #ec5242;
  text-shadow: 0.5px 0.5px #000;
  padding: 3% 0 3% 0;
}

.section-one-content > h1 {
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0;
}

.section-one-content > h4 {
  margin: 0;
  font-size: 1rem;
  padding: 3% 0 3% 0;
  font-weight: 400;
}

.section-two-container {
  border: 3px solid #fff;
  background-color: #f3f1f1;
  padding: 4%;
  font-weight: 400;
  font-size: 0.9rem;
}

.section-three-container {
  color: #272a31;
  text-shadow: 0.5px 0.5px #000;
}

.section-three-container > h3 {
  font-size: 1.4rem;
  margin-bottom: 0;
  color: #484c52;
}

.section-three-container > h4 {
  font-size: 0.8rem;
  font-weight: 400;
  color: #484c52;
}

.main-activities-section {
  background-color: #272a31;
  opacity: 1;
  background-image: linear-gradient(30deg, #0e0e0e 12%, transparent 12.5%, transparent 87%, #0e0e0e 87.5%, #0e0e0e), linear-gradient(150deg, #0e0e0e 12%, transparent 12.5%, transparent 87%, #0e0e0e 87.5%, #0e0e0e), linear-gradient(30deg, #0e0e0e 12%, transparent 12.5%, transparent 87%, #0e0e0e 87.5%, #0e0e0e), linear-gradient(150deg, #0e0e0e 12%, transparent 12.5%, transparent 87%, #0e0e0e 87.5%, #0e0e0e), linear-gradient(60deg, #0e0e0e77 25%, transparent 25.5%, transparent 75%, #0e0e0e77 75%, #0e0e0e77), linear-gradient(60deg, #0e0e0e77 25%, transparent 25.5%, transparent 75%, #0e0e0e77 75%, #0e0e0e77);
  background-size: 14px 25px;
  background-position: 0 0, 0 0, 7px 12px, 7px 12px, 0 0, 7px 12px;
  margin-top: -5%;
  color: #f3f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.activities-header-div {
  width: 50%;
}

.activity-header {
  font-weight: 400;
  padding: 7%;
  text-align: center;
  position: relative;
  font-size: 1.2rem;
  margin: 7%;
  margin-top: 12%;
}

.jm-activity-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.jm-activity {
  width: 90%;
  background-color: #f3f3f321;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.activity-icon {
  width: 90%;
}

.activity-name {
  color: #ec5242;
  text-shadow: 1px 1px #000;
  text-align: left;
  padding-right: 2%;
}

.activity-description > p {
  font-size: 0.8rem;
  text-shadow: 1px 1px #000;
  color: #fff;
}

.activity-icon > img {
  background-color: #ffffff8a;
  width: 70%;
  height: 70%;
}

.footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 15% 3%;
}

.footer > img {
  height: 8vh;
  width: 20vh;
  padding-right: 15%;
}

.footer > p {
  font-size: 0.5rem;
  padding-top: 2%;
  padding-right: 5%;
}

.desktop-topbar,
.desktop-menu,
.desktop-seeall-activities {
  display: none;
}

/* Desktop Styles */

@media only screen and (min-width: 768px) {
  /* .desktop-menu {
    display: flex;
  } */

  .mobile-burger,
  .see-more {
    display: none;
  }

  .desktop-topbar,
  .desktop-menu,
  .desktop-seeall-activities,
  .footer-container {
    display: flex;
  }

  .desktop-topbar {
    position: absolute;
    width: 100vw;
    height: 3rem;
    justify-content: right;
    background-color: #3d4148;
    margin: 0;
    margin-top: -1.2%;
    margin-left: -1.5%;
  }

  .desktop-topbar > div {
    width: 25vw;
    align-self: center;
  }

  .desktop-topbar > div > a {
    padding: 2%;
    color: #fff;
  }

  .desktop-menu {
    display: flex;
    background-color: #fff;
    margin-left: -1.5%;
    margin-top: 2.3%;
    width: 90.4vw;
    justify-content: space-around;
    align-items: center;
    padding: 0 5% 0 5%;
    height: 10vh;
  }

  .desktop-menu > div {
    padding: 0.7%;
  }

  .header-logo {
    height: 5vh;
    margin-right: 12%;
  }

  .header-logo > img {
    height: 6vh;
  }

  .about-h4 {
    color: #ec5242;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
  }

  .customized-navitem {
    color: #ec5242;
    border: 0.3rem solid #ec5242;
    padding: 12%;
    width: 7.6rem;
    margin: 7%;
  }

  .section-one-content {
    margin: 0 10% 0 1%;
  }

  .section-one-content > h4 {
    font-size: 2rem;
    padding: 1%;
  }

  .section-one-content > h1 {
    font-size: 2rem;
  }

  .section-two-container {
    width: 50%;
    margin: 0 10% 0 1%;
    padding: 1%;
    font-size: 1rem;
  }

  .section-three-container {
    margin: 0 10% 0 1%;
  }

  .section-three-container > h4 {
    font-size: 1rem;
    color: #484c52;
  }

  .desktop-menu > div > h4 {
    font-size: 1.1rem;
    font-weight: 400;
  }

  .activity-header {
    font-size: 1.8rem;
    margin-bottom: 0;
    padding: 1.7rem;
  }

  .jm-activity-div {
    display: flex;
    flex-direction: row;
    margin: 0 10% 0 10%;
  }

  .jm-activity {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 40vh;
  }

  .activity-icon {
    display: flex;
    justify-content: center;
    padding-top: 7%;
    width: 60%;
  }

  .activity-name {
    padding-left: 5%;
    padding-right: 3%;
  }

  .activity-description {
    padding-left: 5%;
    padding-right: 3%;
  }

  .desktop-seeall-activities {
    border-bottom: 2px solid #fff;
    margin: 1%;
    padding-bottom: 0;
    margin-bottom: 4.5%;
  }

  .footer {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 1% 10% 3% 10%;
  }

  .footer > p {
    font-size: 0.8rem;
    padding-top: 3%;
  }
}
