body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  margin: 0;
}

.ignore {
  display: none;
}

.hamburger-icon {
  margin-top: 1.5rem;
  padding-left: 1.5rem;
}

.fa-bars {
  color: #568f3f;
  font-size: 2rem;
  height: 2rem;
}

.mobile-menu-list {
  position: fixed;
  top: 0;
  left: 0;
  height: 130vh;
  width: 70vw;
  background-color: #568f3f;
  padding: 14px;
  margin-top: -40px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s;
  transform: translateX(-200%);
}

.mobile-menu-list > ul > li > a,
.fa-close {
  color: #fff;
  text-decoration: none;
  font-size: 0.5rem;
  font-weight: 900;
  text-shadow: 2px 2px #568f3f;
  line-height: 80%;
}

.x-closeicon-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.x-close-icon {
  width: 20px;
  height: 20px;
  z-index: 3;
  margin-top: 50px;
  margin-right: 15px;
  background-color: #fff;
}

.mobile-menu-list ul li a {
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #fff5e1;
  padding-bottom: 15px;
}

.mobile-menu-list ul li {
  border-bottom: 1px solid #fff;
  width: 98%;
}

.mobile-menu-list ul {
  list-style-type: none;
}

.topsection-overlay {
  background-image: url(JM-Images/JM-Background-Cover.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: top;
  height: 120vw;
}

.top-section-container {
  height: 100%;
  margin: 0 20px 120px 30px;
}

.section-one-content {
  color: #568f3f;
  text-shadow: 0.5px 0.5px #000;
  padding: 3% 0 3% 0;
}

.section-one-content > h1 {
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0;
}

.section-one-content > h4 {
  margin: 0;
  font-size: 1rem;
  padding: 3% 0 3% 0;
  font-weight: 400;
}

.section-two-container {
  border: 3px solid #568f3f;
  background-color: transparent;
  padding: 4%;
  font-weight: 400;
  font-size: 0.9rem;
  color: #fff;
}

.section-three-container {
  text-shadow: 0.5px 0.5px #000;
  color: #fff;
}

.section-three-container > h3 {
  font-size: 1.4rem;
  margin-bottom: 0;
  color: #fff;
}

.section-three-container > h4 {
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
}

.main-activity-types-section {
  background-color: #272a31;
  opacity: 1;
  background-image: linear-gradient(30deg, #0e0e0e 12%, transparent 12.5%, transparent 87%, #0e0e0e 87.5%, #0e0e0e), linear-gradient(150deg, #0e0e0e 12%, transparent 12.5%, transparent 87%, #0e0e0e 87.5%, #0e0e0e), linear-gradient(30deg, #0e0e0e 12%, transparent 12.5%, transparent 87%, #0e0e0e 87.5%, #0e0e0e), linear-gradient(150deg, #0e0e0e 12%, transparent 12.5%, transparent 87%, #0e0e0e 87.5%, #0e0e0e), linear-gradient(60deg, #0e0e0e77 25%, transparent 25.5%, transparent 75%, #0e0e0e77 75%, #0e0e0e77), linear-gradient(60deg, #0e0e0e77 25%, transparent 25.5%, transparent 75%, #0e0e0e77 75%, #0e0e0e77);
  background-size: 14px 25px;
  background-position: 0 0, 0 0, 7px 12px, 7px 12px, 0 0, 7px 12px;
  margin-top: -5%;
  color: #f3f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.activities-header-div {
  width: 50%;
}

.activity-header {
  font-weight: 400;
  padding: 7%;
  text-align: center;
  position: relative;
  font-size: 1.2rem;
  margin: 7%;
  margin-top: 12%;
}

.activity-header::after {
  content: "";
  display: flex;
  bottom: 0;
  left: 45%;
  width: 85%;
  height: 1px;
  background-color: #568f3f;
  margin: 0 auto;
  margin-top: 5%;
}

.jm-activity-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.jm-activity {
  width: 90%;
  background-color: #f3f3f321;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.activity-icon {
  width: 90%;
}

.activity-name {
  color: #568f3f;
  text-shadow: 1px 1px #000;
  text-align: left;
  padding-right: 2%;
}

.activity-description > p {
  font-size: 0.8rem;
  text-shadow: 1px 1px #000;
  color: #fff;
}

.activity-icon > img {
  background-color: #ffffff8a;
  width: 70%;
  height: 70%;
}

.joinjm-button-cont {
  display: flex;
  justify-content: center;
  width: 55%;
  padding: 3%;
}

.join-jm-button {
  background-color: #568f3f;
  border: none;
  font-weight: 100;
  font-size: 0.9rem;
  color: #f3f1f1;
  padding: 3%;
  margin: 3%;
}

#dynamicActivity {
  margin: 7%;
  display: flex;
  flex-direction: column;
}

.single-activity {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
}

.activity-header-div {
  font-weight: 900;
  padding: 7%;
  text-align: center;
  position: relative;
  font-size: 3.2rem;
  margin-top: -30px;
  margin-bottom: -30px;
}

.jmactivity-card {
  border: 1px solid #568f3f;
  margin-bottom: 0.5rem;
}

.activityTitle {
  text-decoration-color: #568f3f;
  color: #568f3f;
  padding: 1rem 0 0 1rem;
}

.activitySubDescription {
  padding: 1rem 0 0 1rem;
}

.jmactivity-cardimg {
  height: 220px;
  width: 350px;
}

.activityTags {
  padding: 1rem 0 0 1rem;
}

.activityDescriptionText {
  padding-right: 1rem;
  padding-left: 1rem;
}

.see-more-activity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border: 1px solid #a5a7ac;
  width: 70%;
  margin: 0 0 7% 15%;
}

.see-more-activity > h3 {
  padding: 3%;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 1%;
}

.see-more-activity > i {
  color: #e92e19;
}

/* Maniacs Info Section */

.info-header-div {
  font-weight: 900;
  padding: 7%;
  text-align: center;
  position: relative;
  font-size: 3.2rem;
  margin-top: -30px;
  margin-bottom: -30px;
}

.info-header {
  font-weight: 400;
  padding: 7%;
  text-align: center;
  position: relative;
  font-size: 1.2rem;
  margin: 7%;
  margin-top: 12%;
}

.info-header::after {
  content: "";
  display: flex;
  bottom: 0;
  left: 45%;
  width: 25%;
  height: 1px;
  background-color: #568f3f;
  margin: 0 auto;
  margin-top: 5%;
}

.jungleManiacsGuy {
  height: 5rem;
  border: 1px solid blue;
}

#dynamicInfos {
  margin: 7%;
  display: flex;
  flex-direction: column;
}

.dynamic-Infos {
  width: 85vw;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffffff1;
  margin: 2%;
}

.dynamic-Infos > img {
  height: 25vh;
  padding: 5%;
  background-color: #fff;
  background-image:
    linear-gradient(
      45deg,
      #000 25%,
      transparent 25%,
      transparent 75%,
      #000 75%,
      #000
    ),
    linear-gradient(
      -45deg,
      #000 25%,
      transparent 25%,
      transparent 75%,
      #000 75%,
      #000
    );
  background-size: 60px 60px;
  background-repeat: no-repeat;
}

.dynamic-about-h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 1%;
  padding: 1%;
}

.dynamic-about-h4 {
  font-size: 0.8rem;
  font-weight: 400;
  color: #ec5242;
  font-style: italic;
  margin: 1%;
  padding: 0;
  padding-bottom: 5%;
}

.dynamic-about-p {
  font-size: 0.7rem;
  font-weight: 400;
  margin: 1%;
  padding: 0;
}

.see-more-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border: 1px solid #a5a7ac;
  width: 70%;
  margin: 0 0 7% 15%;
}

.see-more-infos > h3 {
  padding: 3%;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 1%;
}

.see-more-infos > i {
  color: #e92e19;
}

/* Contact Form Styles */

.contactform-maincontainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contactform-headercontainer {
  margin: 30px 25px 35px 23px;
}

.contactform-headertext {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: #172b4d;
  line-height: 2.7rem;
}

.contactform-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.fullname-field {
  width: 327px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  text-decoration-color: #979493;
  padding-left: 3%;
  border: none;
}

.namefield-bottomline {
  margin-top: -20px;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
  width: 324px;
  border: 0.01rem solid #dbd8d7;
}

.email-field {
  width: 327px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 24px;
  padding-left: 3%;
  border: none;
}

.emailfield-bottomline {
  margin-top: -20px;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
  width: 324px;
  border: 0.01rem solid #dbd8d7;
}

.error-text {
  color: red;
}

.writeme-something-field {
  width: 327px;
  height: 38px;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 0.9rem;
  padding-top: 6%;
  padding-left: 3%;
  padding-bottom: 40%;
  background: #fbf8f7;
  color: #3c3a39;
  border: none;
}

.getintouch-button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #568f3f;
  color: #fff;
  width: 8rem;
  height: 3rem;
  border: none;
  margin-top: 15px;
}

.getintouch-button:hover {
  border: 0.01rem solid #f55800;
  color: #f55800;
  background-color: #fff5e1;
}

.getintouch-button:active {
  background-color: #e05304;
}

.footer-dividerline {
  margin-top: 1rem;
  width: 100%;
  border: 0.01rem solid #dfe1e6;
}

.footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 15% 3%;
}

.footer > img {
  height: 8vh;
  width: 20vh;
  padding-right: 15%;
}

.footer > p {
  font-size: 0.5rem;
  padding-top: 2%;
  padding-right: 5%;
}

.see-more-infos,
.see-more-activity,
.desktop-topbar,
.desktop-menu,
.desktop-seeall-activities {
  display: none;
}

/* Desktop Styles */

@media only screen and (min-width: 768px) {
  .joinjm-button-cont,
  .hamburger-icon,
  .see-more-activity,
  .see-more-infos {
    display: none;
  }

  .desktop-topbar,
  .desktop-menu,
  .desktop-seeall-activities,
  .footer-container {
    display: flex;
  }

  .desktop-topbar {
    position: absolute;
    width: 100vw;
    height: 3rem;
    justify-content: right;
    background-color: #3d4148;
    margin: 0;
    margin-top: -2.5%;
  }

  .desktop-topbar > div {
    width: 25vw;
    align-self: center;
  }

  .desktop-topbar > div > a {
    padding: 2%;
    color: #fff;
  }

  .desktop-menu {
    display: flex;
    background-color: #fff;
    margin-top: 2.3%;
    width: 90.4vw;
    justify-content: space-around;
    align-items: center;
    padding: 1% 5% 0 5%;
    height: 12vh;
  }

  .desktop-menu > div {
    padding: 0.7%;
  }

  .desktop-menu > div > h4 > a {
    text-decoration: none;
    color: #568f3f;
  }

  .header-logo {
    height: 5vh;
    margin-right: 12%;
  }

  .header-logo > img {
    height: 6vh;
  }

  .about-h4 {
    color: #568f3f;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
  }

  .customized-navitem {
    color: #568f3f;
    border: 0.3rem solid #568f3f;
    padding: 12%;
    width: 7.6rem;
    margin: 7%;
  }

  .topsection-overlay {
    height: 40vw;
  }

  .section-one-content {
    margin: 0 10% 0 1%;
  }

  .section-one-content > h4 {
    font-size: 2rem;
    padding: 1%;
  }

  .section-one-content > h1 {
    font-size: 2rem;
  }

  .section-two-container {
    width: 50%;
    margin: 0 10% 0 1%;
    padding: 1%;
    font-size: 1rem;
  }

  .section-three-container {
    margin: 0 10% 0 1%;
  }

  .section-three-container > h4 {
    font-size: 1rem;
  }

  .desktop-menu > div > h4 {
    font-size: 1.1rem;
    font-weight: 400;
  }

  .activity-header {
    font-size: 1.8rem;
    margin-bottom: 0;
    padding: 1.7rem;
  }

  .jm-activity-div {
    display: flex;
    flex-direction: row;
    margin: 0 10% 0 10%;
  }

  .jm-activity {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 45vh;
  }

  .activity-icon {
    display: flex;
    justify-content: center;
    padding-top: 7%;
    width: 60%;
  }

  .activity-name {
    padding-left: 5%;
    padding-right: 3%;
  }

  .activity-description {
    padding-left: 5%;
    padding-right: 3%;
  }

  .desktop-seeall-activities {
    border-bottom: 2px solid #fff;
    margin: 1%;
    padding-bottom: 0;
    margin-bottom: 4.5%;
  }

  .activity-header-div {
    font-weight: 400;
    padding: 7%;
    text-align: center;
    position: relative;
    font-size: 1.2rem;
    margin-top: -100px;
    margin-bottom: -80px;
  }

  #dynamicActivity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3%;
  }

  .jmactivity-cards-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }

  .jmactivity-cardimg {
    height: 220px;
    width: 380px;
  }

  /* Maniacs Info Section */

  .info-header-div {
    margin: -50px 0 -80px 0;
  }

  .info-header {
    font-size: 1.8rem;
    margin-bottom: 0;
    padding: 1.7rem;
  }

  .maniacs-infos > .info-header-div > .info-header {
    margin: 0;
  }

  #dynamicInfos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3%;
  }

  .dynamic-Infos {
    width: 35vw;
  }

  #ignore {
    display: none;
  }

  .dynamic-maniacs-pic {
    padding: 10%;
    background-color: #fff;
  }

  /* Form Section */

  .contactform-maincontainer {
    flex-direction: row;
    display: flex;
    width: 100%;
    margin-left: 192px;
    margin-top: 15px;
    height: 400px;
  }

  .contactform-headertext {
    text-align: start;
    width: 373px;
    margin-left: -120px;
    align-items: center;
  }

  .contactform-container {
    display: flex;
    padding: 0;
    list-style: none;
    flex-direction: column;
    margin-left: -70px;
  }

  .fullname-field {
    margin-right: 340px;
    padding: 5px;
    padding-left: 20px;
  }

  .namefield-bottomline {
    margin: -20px -20px 0 -20px;
    width: 670px;
    border: 1px solid #dbd8d7;
  }

  .email-field {
    margin-right: 340px;
    padding: 5px;
    padding-left: 20px;
  }

  .emailfield-bottomline {
    margin: -20px -20px 0 -20px;
    width: 670px;
    border: 1px solid #dbd8d7;
  }

  .error-text {
    color: red;
  }

  .writeme-something-field {
    display: flex;
    background-color: #fbf8f7;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #3c3a39;
    padding: 5px;
    padding-bottom: 50px;
    padding-left: 20px;
    height: 90px;
    margin: 50px;
    margin-top: -1px;
    width: 675px;
  }

  .getintouch-button {
    margin-left: -545px;
    margin-top: -55px;
  }

  .footer {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 1% 10% 3% 10%;
  }

  .footer > p {
    font-size: 0.8rem;
    padding-top: 3%;
  }
}
